## Assignment

In [12]:
import pandas as pd
import os
import numpy as np

directory = "./data/"
df = pd.read_csv(
    directory + "morg-2014-emp.csv",
    #quotechar='"',
    #delimiter=",",
    encoding="utf-8",
    dtype = "unicode"
)
df.columns

Index(['Unnamed: 0', 'hhid', 'intmonth', 'stfips', 'weight', 'earnwke',
       'uhours', 'grade92', 'race', 'ethnic', 'age', 'sex', 'marital',
       'ownchild', 'chldpres', 'prcitshp', 'state', 'ind02', 'occ2012',
       'class', 'unionmme', 'unioncov', 'lfsr94'],
      dtype='object')

In [21]:
#Interesting occupations
#1005Computer and information research scientists
#1010Computer programmers
#1020Software developers, applications and systems software
#1107Computer occupations, all other
#1220Operations research analysts
#1240Mathematicians, statisticians and miscellaneous mathematical science occupations

softdev = (df[(df["occ2012"]).astype(int)== 1020]).reset_index(drop=True)
softdev[0:15]
softdev['earnhour'] = (softdev['earnwke'].astype(float))/(softdev['uhours'].astype(float))
softdev

,Unnamed: 0,hhid,intmonth,stfips,weight,earnwke,uhours,grade92,race,ethnic,...,chldpres,prcitshp,state,ind02,occ2012,class,unionmme,unioncov,lfsr94,earnhour
0,651,207004430306994,January,AZ,3410.8853,2500,40,44,4,NaN,...,0,"Foreign Born, US Cit By Naturalization",86,Computer systems design and related services (...,1020,"Private, For Profit",No,No,Employed-At Work,62.500000
1,657,236096309400800,January,AZ,3916.3279,2500,40,43,4,NaN,...,10,"Foreign Born, US Cit By Naturalization",86,Business support services (5614),1020,"Private, For Profit",No,No,Employed-At Work,62.500000
2,724,914299270769003,January,AZ,5115.4707,1250,45,43,1,NaN,...,0,"Native, Born In US",86,Computer systems design and related services (...,1020,"Private, For Profit",No,No,Employed-At Work,27.777778
3,1215,467099107899,January,CA,2744.2335,1038,40,43,1,NaN,...,0,"Native, Born In US",93,Advertising and related services (5418),1020,"Private, For Profit",No,No,Employed-At Work,25.950000
4,1265,11340760971297,January,CA,3097.4714,2500,40,40,1,NaN,...,0,"Native, Born In US",93,"Architectural, engineering, and related servic...",1020,"Private, For Profit",No,No,Employed-At Work,62.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1330,315649,736083830569500,December,WA,2547.9437,2576.92,40,44,4,NaN,...,3,"Foreign Born, Not a US Citizen",9,*** Electronic shopping (New industry *454111),1020,"Private, For Profit",No,No,Employed-At Work,64.423000
1331,315664,835030160206305,December,WA,2490.3924,2115.38,40,43,1,NaN,...,3,"Native, Born In US",9,Services incidental to transportation (488),1020,"Private, For Profit",No,No,Employed-At Work,52.884500
1332,315679,912083395569770,December,WA,3199.2227,2596.15,40,44,4,NaN,...,3,"Foreign Born, Not a US Citizen",9,Computer systems design and related services (...,1020,"Private, For Profit",No,No,Employed-At Work,64.903750
1333,316553,55621016909598,December,WI,417.4886,1673.07,40,43,1,NaN,...,4,"Native, Born In US",3,"Navigational, measuring, electromedical, and c...",1020,"Private, For Profit",No,No,Employed-At Work,41.826750
1334,316694,706900345996715,December,WI,2364.8294,1634.61,40,43,1,NaN,...,8,"Native, Born In US",3,Computer systems design and related services (...,1020,"Private, For Profit",No,No,Employed-At Work,40.865250

## Predict: Earnings per hour based on attributes